@media only screen and (min-width: 768px) {
  .content-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .content-desktop {
    display: none;
  }
  .content-mobile {
    display: block;
  }
}
/*# sourceMappingURL=mobile.css.map */