*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: Titillium Web, sans-serif;
  text-decoration: none;
  list-style: none;
}

.lines {
  font-family: 'Lemonada', cursive;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  margin: auto;
  width: 100vw;
  background-color: #000000;
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lines .logoEntry {
  height: 10vw;
  width: 20vw;
}

.lines .logoEntry img {
  width: 100%;
  height: auto;
}

.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 37%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: run 7s 0s infinite;
  animation: run 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.lines .line:nth-child(1) {
  margin-left: -25%;
}

.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.lines .line:nth-child(3) {
  margin-left: 25%;
}

.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  height: 4.84vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.logo-container {
  width: 70%;
  z-index: 5;
}

.logo-container .logo {
  width: 12.55vw;
  height: auto;
  margin-left: 2.34vw;
}

.logo-container .logo img {
  width: 100%;
  height: auto;
}

.social-icons {
  width: 18%;
  z-index: 5;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.04vw;
  margin-top: .5vw;
  float: right;
}

.social-icons i {
  color: #000000;
  margin-left: 1.83vw;
}

.social-icons i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #635454;
}

.box {
  z-index: 3000;
  margin-left: 93vw;
  border-radius: 3px;
  position: absolute;
  width: 2.8vw;
  height: 2.8vw;
  background: #000000;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.box .btn11 {
  position: absolute;
  width: 2.8vw;
  height: 2.8vw;
  cursor: pointer;
}

.box .btn11 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 50%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 1.8px;
  background: #ffffff;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  margin-top: .68vw;
}

.box .btn11 span + span {
  margin-top: 8px;
}

.box:hover {
  width: 0vw;
}

.box:hover .btn11 span {
  background: #000000;
}

.active span:nth-child(1) {
  -webkit-animation: ease .7s top forwards;
          animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
  -webkit-animation: ease .7s top-2 forwards;
          animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
  -webkit-animation: ease .7s scaled forwards;
          animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
  -webkit-animation: ease .7s scaled-2 forwards;
          animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
  -webkit-animation: ease .7s bottom forwards;
          animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
  -webkit-animation: ease .7s bottom-2 forwards;
          animation: ease .7s bottom-2 forwards;
}

@-webkit-keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 11px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 11px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-2 {
  0% {
    top: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 11px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes top-2 {
  0% {
    top: 11px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 11px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-2 {
  0% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 9px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes scaled {
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaled-2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background: #000000;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list li {
  margin: .2vw;
  text-align: center;
}

.nav-link {
  font-family: Titillium Web, sans-serif;
  font-size: 2.95vw;
  font-size: 1.5vw;
  font-weight: 600;
  color: #ffffff;
}

.nav-link:hover,
.nav-link:focus {
  background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
  background: linear-gradient(to right, #d49e1f, #534215);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: 18vw;
    z-index: 1000;
  }
  .logo-container {
    z-index: 5;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .logo-container .logo {
    width: 47.5vw;
    margin-left: 7vw;
    margin-top: 5.3vw;
  }
  .logo-container .logo img {
    width: 100%;
    height: auto;
  }
  .ham {
    cursor: pointer;
    z-index: 2000;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: -9.2vw;
    margin-right: 9vw;
    background-color: #000000;
    float: right;
    width: 11vw;
    border-radius: 1.3vw;
  }
  .hamRotate.active {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .hamRotate180.active {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .line {
    fill: none;
    -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-linecap: round;
    z-index: 2500;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
  .top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -105vh;
    z-index: 50;
    background: #000000;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    -webkit-transition: all 650ms cubic-bezier(1, 0, 0, 1);
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
  }
  .nav-list {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list li {
    margin: 1vw;
    text-align: center;
  }
  .nav-link {
    font-family: Titillium Web, sans-serif;
    font-size: 4vw;
    font-weight: 600;
    color: #ffffff;
  }
  .nav-link:hover,
  .nav-link:focus {
    background: -webkit-gradient(linear, left top, right top, from(#d49e1f), to(#534215));
    background: linear-gradient(to right, #d49e1f, #534215);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .top-nav.open {
    top: 0;
    border-radius: initial;
  }
  .menu-toggler {
    position: absolute;
    top: 7vw;
    width: 4.5vw;
    right: 9.6vw;
    height: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
    z-index: 2000;
    -webkit-transition: -webkit-transform 500ms ease-out;
    transition: -webkit-transform 500ms ease-out;
    transition: transform 500ms ease-out;
    transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
    overflow: visible;
  }
  .menu-toggler.open {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .bar {
    background-color: #d49e1f;
    width: 100%;
    height: 1px;
    border-radius: 5px;
  }
  .bar.half {
    width: 100%;
  }
  .bar.start {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }
  .open .bar.start {
    -webkit-transform: rotate(-90deg) translateX(-0.4rem);
            transform: rotate(-90deg) translateX(-0.4rem);
  }
  .bar.end {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transition: transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 500ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }
  .open .bar.end {
    -webkit-transform: rotate(-90deg) translateX(0.4rem);
            transform: rotate(-90deg) translateX(0.4rem);
  }
}

.menu-pages {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 4.84vw;
  height: 3.2vw;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  font-family: Titillium Web, sans-serif;
  z-index: 100;
  overflow: hidden;
}

.menu-pages div {
  width: 34vw;
  margin-left: 9vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
}

.menu-pages div a {
  font-size: 0.94vw;
  color: #b2b2b2;
  cursor: pointer;
  text-decoration: none;
}

.menu-pages div .active-menu {
  color: #000000;
  font-weight: 600;
}

.menu-pages div a:hover {
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}

.menu-pages .brochure {
  width: 38vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  margin-left: 10vw;
}

.menu-pages .brochure .call {
  width: 12vw;
  font-size: 1.04vw;
  font-weight: 600;
  color: #000000;
  margin-left: 13vw;
}

.menu-pages .brochure .call i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .15vw;
  margin-left: 2.5vw;
}

.menu-pages .brochure .download-brochure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .94vw;
  font-weight: 300;
  color: #ffffff;
  height: 2.29vw;
  width: 10.63vw;
  border-radius: .4vw;
  background-color: #000000;
  margin-left: -2vw;
}

.landing-container {
  height: 100vh;
  font-family: Titillium Web, sans-serif;
}

.landing-container .overlay-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
}

.landing-container .overlay-content .soultree-logo {
  width: 20vw;
  z-index: 10;
}

.landing-container .overlay-content .soultree-logo img {
  width: 100%;
  height: auto;
}

.landing-container .overlay-content .sub-title {
  text-align: center;
  width: 58vw;
  z-index: 10;
  margin-top: 8vw;
  line-height: 1.43;
  font-size: 1.2vw;
  font-weight: 300;
  color: #000000;
}

.landing-container .overlay-content .getIn-touch {
  position: absolute;
  z-index: 90;
  color: #000000;
  font-size: .94vw;
  font-weight: 600;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 96.5vw;
  margin-top: 20vw;
  background-color: #e8e3db;
  width: 8.85vw;
  height: 2.6vw;
  border-radius: .4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing-img {
  position: absolute;
  width: 100vw;
  margin-top: -31.6vw;
  overflow: hidden;
}

.landing-container .landing-img img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-section {
  height: auto;
  padding-top: 9vw;
}

.main-title {
  font-family: Titillium Web, sans-serif;
  font-size: 3.125vw;
  font-weight: 600;
  margin-bottom: 2.76vw;
  margin-left: 14.9vw;
  color: #000000;
  line-height: 1.33;
}

.main-subtitle {
  font-family: Titillium Web, sans-serif;
  width: 75vw;
  font-size: 1.2vw;
  line-height: 1.43;
  margin-left: 14.9vw;
  color: #000000;
}

.carousel-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-1 .color-splash-1 {
  width: 45.26vw;
  height: 67.2vw;
  margin-top: -6.5vw;
}

.carousel-1 .color-splash-1 img {
  width: auto;
  height: 100%;
}

.carousel-1 .carousel-flex {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6vw;
  margin-left: 26vw;
}

.carousel-1 .carousel-flex .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-1 .carousel-flex .carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 15.625vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 15.625vw;
          perspective: 15.625vw;
}

.carousel-1 .carousel-flex .carousel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.carousel-1 .carousel-flex .carousel__item:nth-child(1) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.carousel-1 .carousel-flex .carousel__item:nth-child(1) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.carousel-1 .carousel-flex .carousel__item:nth-child(2) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.carousel-1 .carousel-flex .carousel__item:nth-child(2) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.carousel-1 .carousel-flex .carousel__item:nth-child(3) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.carousel-1 .carousel-flex .carousel__item:nth-child(3) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.carousel-1 .carousel-flex .carousel__item:nth-child(4) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.carousel-1 .carousel-flex .carousel__item:nth-child(4) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.carousel-1 .carousel-flex .carousel__item:nth-child(5) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.carousel-1 .carousel-flex .carousel__item:nth-child(5) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.carousel-1 .carousel-flex .carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel-1 .carousel-flex .carousel__item[data-pos="-1"] {
  opacity: 0;
  -webkit-filter: blur(1px) grayscale(100%);
          filter: blur(1px) grayscale(100%);
}

.carousel-1 .carousel-flex .carousel__item[data-pos="1"] {
  opacity: 0.5;
  -webkit-filter: blur(1px) grayscale(10%);
          filter: blur(1px) grayscale(10%);
}

.carousel-1 .carousel-flex .carousel__item[data-pos="-1"] {
  -webkit-transform: translateX(-40%) scale(0.9);
          transform: translateX(-40%) scale(0.9);
  z-index: 4;
}

.carousel-1 .carousel-flex .carousel__item[data-pos="1"] {
  -webkit-transform: translateX(40%) scale(0.9);
          transform: translateX(40%) scale(0.9);
  z-index: 4;
}

.carousel-1 .carousel-flex .carousel__item[data-pos="-2"] {
  opacity: 0;
  -webkit-filter: blur(3px) grayscale(100%);
          filter: blur(3px) grayscale(100%);
}

.carousel-1 .carousel-flex .carousel__item[data-pos="2"] {
  opacity: 0.2;
  -webkit-filter: blur(3px) grayscale(20%);
          filter: blur(3px) grayscale(20%);
}

.carousel-1 .carousel-flex .carousel__item[data-pos="-2"] {
  -webkit-transform: translateX(-70%) scale(0.8);
          transform: translateX(-70%) scale(0.8);
  z-index: 3;
}

.carousel-1 .carousel-flex .carousel__item[data-pos="2"] {
  -webkit-transform: translateX(70%) scale(0.8);
          transform: translateX(70%) scale(0.8);
  z-index: 3;
}

.carousel-1 .carousel-flex .ellipse {
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 10;
  margin-top: 17vw;
  margin-left: 26vw;
  color: #000000;
}

.carousel-1 .carousel-flex .ellipse i {
  margin-left: 2vw;
  margin-top: 1vw;
  font-size: 3vw;
  z-index: 50;
}

.carousel-1 .carousel-flex .carousel-descrip_t {
  position: absolute;
  width: 27.24vw;
  margin-left: 34vw;
  margin-top: 18vw;
}

.carousel-1 .carousel-flex .carousel-descrip_t .carousel-title {
  font-size: 2.34vw;
  font-weight: 600;
  margin-bottom: 1.93vw;
}

.carousel-1 .carousel-flex .carousel-descrip_t .carousel-details {
  font-size: 1.2vw;
  line-height: 1.43;
}

.carousel-2-title {
  font-size: 3.125vw;
  font-weight: 600;
  margin-left: 14.9vw;
  margin-top: -9vw;
}

.carousel-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel-2 .color-splash-1 {
  width: 45.26vw;
  height: 67.2vw;
  margin-top: -6.5vw;
}

.carousel-2 .color-splash-1 img {
  width: auto;
  height: 100%;
}

.carousel-2 .carousel-flex {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6vw;
  margin-left: 26vw;
}

.carousel-2 .carousel-flex .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-2 .carousel-flex .carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 15.625vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 15.625vw;
          perspective: 15.625vw;
}

.carousel-2 .carousel-flex .carousel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.carousel-2 .carousel-flex .carousel__item:nth-child(1) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.carousel-2 .carousel-flex .carousel__item:nth-child(1) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.carousel-2 .carousel-flex .carousel__item:nth-child(2) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.carousel-2 .carousel-flex .carousel__item:nth-child(2) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.carousel-2 .carousel-flex .carousel__item:nth-child(3) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.carousel-2 .carousel-flex .carousel__item:nth-child(3) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.carousel-2 .carousel-flex .carousel__item:nth-child(4) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.carousel-2 .carousel-flex .carousel__item:nth-child(4) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.carousel-2 .carousel-flex .carousel__item:nth-child(5) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.carousel-2 .carousel-flex .carousel__item:nth-child(5) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.carousel-2 .carousel-flex .carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel-2 .carousel-flex .carousel__item[data-pos="-1"] {
  opacity: 0;
  -webkit-filter: blur(1px) grayscale(100%);
          filter: blur(1px) grayscale(100%);
}

.carousel-2 .carousel-flex .carousel__item[data-pos="1"] {
  opacity: 0.5;
  -webkit-filter: blur(1px) grayscale(10%);
          filter: blur(1px) grayscale(10%);
}

.carousel-2 .carousel-flex .carousel__item[data-pos="-1"] {
  -webkit-transform: translateX(-40%) scale(0.9);
          transform: translateX(-40%) scale(0.9);
  z-index: 4;
}

.carousel-2 .carousel-flex .carousel__item[data-pos="1"] {
  -webkit-transform: translateX(40%) scale(0.9);
          transform: translateX(40%) scale(0.9);
  z-index: 4;
}

.carousel-2 .carousel-flex .carousel__item[data-pos="-2"] {
  opacity: 0;
  -webkit-filter: blur(3px) grayscale(100%);
          filter: blur(3px) grayscale(100%);
}

.carousel-2 .carousel-flex .carousel__item[data-pos="2"] {
  opacity: 0.2;
  -webkit-filter: blur(3px) grayscale(20%);
          filter: blur(3px) grayscale(20%);
}

.carousel-2 .carousel-flex .carousel__item[data-pos="-2"] {
  -webkit-transform: translateX(-70%) scale(0.8);
          transform: translateX(-70%) scale(0.8);
  z-index: 3;
}

.carousel-2 .carousel-flex .carousel__item[data-pos="2"] {
  -webkit-transform: translateX(70%) scale(0.8);
          transform: translateX(70%) scale(0.8);
  z-index: 3;
}

.carousel-2 .carousel-flex .ellipse {
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 10;
  margin-top: 17vw;
  margin-left: 26vw;
  color: #000000;
}

.carousel-2 .carousel-flex .ellipse i {
  margin-left: 2vw;
  margin-top: 1vw;
  font-size: 3vw;
  z-index: 50;
}

.carousel-2 .carousel-flex .carousel-descrip_t {
  position: absolute;
  width: 27.24vw;
  margin-left: 34vw;
  margin-top: 18vw;
}

.carousel-2 .carousel-flex .carousel-descrip_t .carousel-title {
  font-size: 2.34vw;
  font-weight: 600;
  margin-bottom: 1.93vw;
}

.carousel-2 .carousel-flex .carousel-descrip_t .carousel-details {
  font-size: 1.2vw;
  line-height: 1.43;
}

.master-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13.91vw;
  margin-top: -5vw;
}

.master-plan .master-plan-img {
  width: 32.66vw;
  height: 44.17vw;
  margin-top: 3vw;
}

.master-plan .master-plan-img img {
  width: 100%;
  height: auto;
}

.master-plan .master-plan-descrip {
  margin-left: 12.4vw;
}

.master-plan .master-plan-descrip .master-plan-title {
  font-size: 3.125vw;
  font-weight: 600;
  margin-top: 6vw;
  margin-bottom: 4.5vw;
  color: #000000;
}

.master-plan .master-plan-descrip li {
  margin-bottom: 2.5vw;
  color: #000000;
}

.master-plan .master-plan-descrip li .specs {
  font-size: 1.2vw;
}

.master-plan .master-plan-descrip li .spec-details {
  font-size: 1.56vw;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .master-plan {
    display: block;
    padding-left: 0vw;
    margin-top: -5vw;
  }
  .master-plan .master-plan-title {
    width: 86vw;
    margin: auto;
    font-size: 6.76vw;
    font-weight: 600;
    margin-top: 6vw;
    margin-bottom: 6.5vw;
    color: #000000;
  }
  .master-plan .master-plan-img {
    width: 72vw;
    height: 97vw;
    margin-top: 3vw;
    margin-left: 10vw;
  }
  .master-plan .master-plan-img img {
    width: 100%;
    height: auto;
  }
  .master-plan .master-plan-descrip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80vw;
    margin: auto;
    margin-left: 12.4vw;
    margin-top: 10vw;
    padding-bottom: 5vw;
  }
  .master-plan .master-plan-descrip li {
    margin-bottom: 4.5vw;
    color: #000000;
    width: 30vw;
  }
  .master-plan .master-plan-descrip li .specs {
    font-size: 3.38vw;
  }
  .master-plan .master-plan-descrip li .spec-details {
    font-size: 4.83vw;
    font-weight: 600;
  }
}

.floor-plans {
  width: 100vw;
  padding-left: 14.9vw;
  margin-top: 8vw;
  padding-bottom: 5vw;
}

.floor-plans .floor-plans-title {
  font-size: 3.125vw;
  font-weight: 600;
  margin-bottom: 3.18vw;
  color: #000000;
}

.floor-plans .plan-specs {
  margin-left: 2.03vw;
  width: 63.54vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #707070;
}

.floor-plans .plan-specs .spec {
  font-size: 1.56vw;
  font-weight: 600;
  padding-bottom: .4vw;
  color: #b2b2b2;
}

.floor-plans .plan-specs .active-spec {
  border-bottom: 5px solid #000000;
  color: #000000;
}

.floor-plans .plan-view {
  margin-left: 2.03vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.3vw;
  /* For IE10 */
}

.floor-plans .plan-view .selection {
  display: block;
  margin-right: 4.22vw;
  margin-top: 6vw;
}

.floor-plans .plan-view .type-selection, .floor-plans .plan-view .facing, .floor-plans .plan-view .building-blocks {
  margin-bottom: 2.03vw;
}

.floor-plans .plan-view .type-selection, .floor-plans .plan-view .facing, .floor-plans .plan-view .building-blocks p {
  font-size: 1.04vw;
  font-weight: 600;
}

.floor-plans .plan-view .click-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5vw;
}

.floor-plans .plan-view .click-btn-1 {
  font-size: 1vw;
  font-weight: 300;
  padding: 1vw 1.4vw;
  border: 1px solid #e0e0e0;
  background-color: #f8f8f8;
}

.floor-plans .plan-view .active, .floor-plans .plan-view .click-btn-1:hover {
  background-color: #000000;
  color: #ffffff;
}

.floor-plans .plan-view select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.floor-plans .plan-view select::-ms-expand {
  display: none;
}

.floor-plans .plan-view .box11 {
  margin-top: .5vw;
  position: absolute;
}

.floor-plans .plan-view .box11 select {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  width: 10.5vw;
  height: 3vw;
  border-radius: 3px;
  border: 1px solid;
  font-size: 1.04vw;
  font-weight: 300;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  outline: none;
}

.floor-plans .plan-view .box11::before {
  content: "\f107";
  background: #ffffff;
  font-family: FontAwesome;
  position: absolute;
  top: 1px;
  right: 3px;
  width: 18%;
  height: 80%;
  text-align: center;
  font-weight: 300;
  font-size: 1.5vw;
  line-height: 45px;
  pointer-events: none;
  color: black;
}

.floor-plans .plan-view select option {
  width: 70%;
  margin: auto;
}

.floor-plans .plan-view .building-blocks p {
  margin-top: 5.5vw;
}

.floor-plans .plan-view .swiper-container {
  margin-left: 8vw;
  width: 48vw;
  height: 38vw;
  padding-left: 1.5vw;
}

.floor-plans .plan-view .swiper-container .swiper-slide {
  width: 42.14vw;
  height: 33.75vw;
}

.floor-plans .plan-view .swiper-container .swiper-slide img {
  width: auto;
  height: 100%;
}

.floor-plans .plan-view .swiper-container .swiper-slide p {
  margin-top: 1vw;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.43;
  font-weight: 300;
}

.floor-plans .plan-view .swiper-container .ellipse1 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 10;
  margin-top: -21vw;
  margin-left: -1.5vw;
  color: #000000;
}

.floor-plans .plan-view .swiper-container .ellipse1 i {
  margin-left: 1.8vw;
  margin-top: 1vw;
  font-size: 3vw;
  z-index: 50;
}

.floor-plans .plan-view .swiper-container .ellipse2 {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 10;
  margin-top: -21vw;
  margin-left: 40vw;
  color: #000000;
}

.floor-plans .plan-view .swiper-container .ellipse2 i {
  margin-left: 2.2vw;
  margin-top: 1vw;
  font-size: 3vw;
  z-index: 50;
}

@media only screen and (max-width: 768px) {
  .floor-plans {
    width: 100vw;
    padding-left: 0vw;
    margin-top: 8vw;
    padding-bottom: 15vw;
  }
  .floor-plans .floor-plans-title {
    width: 86vw;
    margin: auto;
    font-size: 6.76vw;
    font-weight: 600;
    margin-bottom: 8vw;
    color: #000000;
  }
  .floor-plans .plan-specs {
    margin-left: 0vw;
    width: 86vw;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #707070;
  }
  .floor-plans .plan-specs .spec {
    font-size: 5.31vw;
    font-weight: 600;
    padding-bottom: .4vw;
    color: #b2b2b2;
  }
  .floor-plans .plan-specs .active-spec {
    border-bottom: 2px solid #000000;
    color: #000000;
  }
  .floor-plans .plan-view {
    margin-left: 3.03vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6vw;
    /* For IE10 */
  }
  .floor-plans .plan-view .selection {
    display: block;
    margin-right: 4.22vw;
    margin-top: 6vw;
  }
  .floor-plans .plan-view .type-selection, .floor-plans .plan-view .facing, .floor-plans .plan-view .building-blocks {
    margin-bottom: 6.03vw;
  }
  .floor-plans .plan-view .type-selection, .floor-plans .plan-view .facing, .floor-plans .plan-view .building-blocks p {
    font-size: 3.38vw;
    font-weight: 600;
  }
  .floor-plans .plan-view .click-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: .5vw;
  }
  .floor-plans .plan-view .click-btn-1 {
    font-size: 3.38vw;
    font-weight: 300;
    padding: 2.4vw 3vw;
    border: 1px solid #e0e0e0;
    background-color: #f8f8f8;
  }
  .floor-plans .plan-view .active, .floor-plans .plan-view .click-btn-1:hover {
    background-color: #000000;
    color: #ffffff;
  }
  .floor-plans .plan-view select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  .floor-plans .plan-view select::-ms-expand {
    display: none;
  }
  .floor-plans .plan-view .box11 {
    margin-top: .5vw;
    position: absolute;
  }
  .floor-plans .plan-view .box11 select {
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    width: 25vw;
    height: 8vw;
    border-radius: 3px;
    border: 1px solid;
    font-size: 3.38vw;
    font-weight: 300;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    outline: none;
  }
  .floor-plans .plan-view .box11::before {
    content: "\f107";
    background: #ffffff;
    font-family: FontAwesome;
    position: absolute;
    top: 1px;
    right: 3px;
    width: 18%;
    height: 80%;
    text-align: center;
    font-weight: 300;
    font-size: 4.5vw;
    line-height: 30px;
    pointer-events: none;
    color: black;
  }
  .floor-plans .plan-view select option {
    width: 70%;
    margin: auto;
  }
  .floor-plans .plan-view .building-blocks p {
    margin-top: 17.5vw;
  }
  .floor-plans .plan-view .swiper-container {
    margin-left: 8vw;
    width: 58vw;
    height: 74vw;
    padding-left: 0vw;
  }
  .floor-plans .plan-view .swiper-container .swiper-slide {
    width: 58vw;
    height: 42vw;
  }
  .floor-plans .plan-view .swiper-container .swiper-slide img {
    width: auto;
    height: 100%;
  }
  .floor-plans .plan-view .swiper-container .swiper-slide p {
    margin-top: 5.5vw;
    text-align: center;
    font-size: 3.38vw;
    line-height: 1.5;
    font-weight: 300;
  }
  .floor-plans .plan-view .swiper-container .ellipse1 {
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    z-index: 10;
    margin-top: -10vw;
    margin-left: 21vw;
    color: #000000;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .floor-plans .plan-view .swiper-container .ellipse1 i {
    margin-left: 1.8vw;
    margin-top: 1vw;
    font-size: 3vw;
    z-index: 50;
  }
  .floor-plans .plan-view .swiper-container .ellipse2 {
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    z-index: 10;
    margin-top: -10vw;
    margin-left: 32vw;
    color: #000000;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  .floor-plans .plan-view .swiper-container .ellipse2 i {
    margin-left: 2.2vw;
    margin-top: 1vw;
    font-size: 3vw;
    z-index: 50;
  }
}

.timeline {
  padding-left: 14.9vw;
  padding-top: 6.61vw;
  height: 43.49vw;
  background-color: #f8f8f8;
  font-family: Titillium Web, sans-serif;
}

.timeline .timeline-title {
  font-size: 3.125vw;
  font-weight: 600;
  margin-bottom: 4.2vw;
}

.timeline .progress-timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timeline .progress-timeline .progress-pie-chart {
  width: 18.28vw;
  height: 18.28vw;
  border-radius: 50%;
  position: relative;
}

.timeline .progress-timeline .progress-pie-chart.gt-50 {
  background-color: red;
}

.timeline .progress-timeline .ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 9.14vw);
  top: calc(50% - 9.14vw);
  width: 18.28vw;
  height: 18.28vw;
  clip: rect(0, 18.28vw, 18.28vw, 9.14vw);
}

.timeline .progress-timeline .ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 9.14vw);
  top: calc(50% - 9.14vw);
  width: 18.28vw;
  height: 18.28vw;
  clip: rect(0, 9.14vw, 18.28vw, 0);
  background: #000000;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.gt-50 .timeline .progress-timeline .ppc-progress {
  clip: rect(0, 9.14vw, 18.28vw, 0);
}

.gt-50 .timeline .progress-timeline .ppc-progress .ppc-progress-fill {
  clip: rect(0, 18.28vw, 18.28vw, 9.14vw);
  background: #E5E5E5;
}

.timeline .progress-timeline .ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 17.08411vw/2);
  top: calc(50% - 17.08411vw/2);
  width: 17.08411vw;
  height: 17.08411vw;
  background: #f8f8f8;
  border: 0.25vw solid #000000;
  text-align: center;
  display: table;
}

.timeline .progress-timeline .ppc-percents span {
  display: block;
  font-size: 3.125vw;
  font-weight: bold;
  color: #000000;
}

.timeline .progress-timeline .pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.timeline .progress-timeline #lineCont {
  width: 60%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.timeline .progress-timeline #line {
  border-bottom-style: dashed;
  height: 2px;
  width: 80%;
  background: #000000;
  border-radius: 5px;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
}

.timeline .progress-timeline #span {
  display: none;
  width: 70%;
  margin: auto;
  margin-top: 25%;
  text-align: center;
  color: #000000;
}

.timeline .progress-timeline .circle {
  width: 20px;
  height: 20px;
  background: #f8f8f8;
  border-radius: 15px;
  position: absolute;
  top: -.5vw;
  border: 3px solid #000000;
  cursor: pointer;
}

.timeline .progress-timeline .circle:before {
  content: '';
  width: 10px;
  height: 10px;
  background: #000000;
  position: absolute;
  border-radius: 100%;
  top: 2px;
  left: 2px;
  display: none;
}

.timeline .progress-timeline .circle .popupSpan {
  width: auto;
  height: auto;
  padding: 10px;
  white-space: nowrap;
  display: inline-block;
  color: #000000;
  position: absolute;
  top: 20px;
  left: -75px;
  display: none;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.timeline .progress-timeline .circle.hover:before, .timeline .progress-timeline .circle.active:before {
  display: block;
}

.timeline .progress-timeline .circle.hover .popupSpan, .timeline .progress-timeline .circle.active .popupSpan {
  display: block;
}

.timeline .progress-timeline .circle.active .popupSpan {
  top: -40px;
}

.gallery {
  padding-top: 6.56vw;
  padding-bottom: 8vw;
  background-color: #f8f8f8;
  color: #000000;
  font-family: Titillium Web, sans-serif;
}

.gallery .gallery-nav {
  width: 77vw;
  margin: auto;
  margin-bottom: 4.79vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .gallery-nav .gal {
  font-size: 3.125vw;
  font-weight: 600;
  margin-left: 45vw;
}

.gallery .gallery-nav .gal-nav {
  font-size: 1.2vw;
  font-weight: 600;
  color: #b2b2b2;
  margin-left: 3.33vw;
  cursor: pointer;
}

.gallery .gallery-nav .active-gal {
  color: #000000;
  border-bottom: 3px solid #000000;
}

.gallery .gallery-view {
  width: 77vw;
  height: 44vw;
  margin: auto;
  border-radius: 1.56vw;
}

.gallery .gallery-view .gal-img {
  width: 77vw;
  height: 44vw;
  border-radius: 1.56vw;
}

.gallery .gallery-view .gal-img .swiper-slide {
  width: 77vw;
  overflow-y: hidden;
}

.gallery .gallery-view .gal-img .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 1.56vw;
}

.gallery .gallery-view .gal-img .fillet-box {
  width: 7.08vw;
  height: 3.54vw;
  z-index: 10;
  margin: auto;
  background-color: #fff;
  margin-top: -1.77vw;
  margin-left: 34.96vw;
  border-radius: 2.08vw;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  position: absolute;
}

.gallery .gallery-view .gal-img .fillet-box .left-box {
  background: #000;
  height: 3.54vw;
  width: 0;
  border-radius: 2.08vw 0 0 2.08vw;
  -webkit-transition: width 700ms;
  transition: width 700ms;
}

.gallery .gallery-view .gal-img .fillet-box .left-box a {
  height: 3.54vw;
  width: 3.54vw;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 2.08vw 0 0 2.08vw;
}

.gallery .gallery-view .gal-img .fillet-box .left-box a .fa-angle-left {
  font-size: 2.4vw;
  border-radius: 2.08vw 0 0 2.08vw;
}

.gallery .gallery-view .gal-img .fillet-box .left-box:hover {
  height: 3.54vw;
  width: 3.54vw;
  border-radius: 2.08vw 0 0 2.08vw;
}

.gallery .gallery-view .gal-img .fillet-box .left-box:hover a {
  color: #fff;
  border-radius: 2.08vw 0 0 2.08vw;
}

.gallery .gallery-view .gal-img .fillet-box .right-box {
  margin-top: -3.54vw;
  margin-left: 3.54vw;
  background: #000;
  height: 3.54vw;
  width: 0;
  border-radius: 0 2.08vw 2.08vw 0;
  -webkit-transition: width 700ms;
  transition: width 700ms;
}

.gallery .gallery-view .gal-img .fillet-box .right-box a {
  height: 3.54vw;
  width: 3.54vw;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.gallery .gallery-view .gal-img .fillet-box .right-box a .fa-angle-right {
  font-size: 2.4vw;
}

.gallery .gallery-view .gal-img .fillet-box .right-box:hover {
  height: 3.54vw;
  width: 3.54vw;
}

.gallery .gallery-view .gal-img .fillet-box .right-box:hover a {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .gallery {
    padding-top: 12vw;
    padding-bottom: 14vw;
    background-color: #f8f8f8;
    color: #000000;
    font-family: Titillium Web, sans-serif;
  }
  .gallery .gal {
    font-size: 6.76vw;
    font-weight: 600;
    margin-left: 0;
    width: 86vw;
    margin: auto;
    margin-bottom: 2.5vw;
  }
  .gallery .gallery-nav {
    width: 86vw;
    margin: auto;
    margin-bottom: 4.79vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery .gallery-nav .gal-nav {
    font-size: 4.83vw;
    font-weight: 600;
    color: #b2b2b2;
    margin-left: 0;
    margin-right: 5vw;
    cursor: pointer;
  }
  .gallery .gallery-nav .active-gal {
    color: #000000;
    border-bottom: 2px solid #000000;
  }
  .gallery .gallery-view {
    width: 85.2vw;
    height: 48.8vw;
    margin: auto;
    border-radius: 1.56vw;
    padding-top: 4vw;
  }
  .gallery .gallery-view .gal-img {
    width: 85.2vw;
    height: 48.8vw;
    border-radius: 1.56vw;
  }
  .gallery .gallery-view .gal-img .swiper-slide {
    width: 85.2vw;
    overflow-y: hidden;
  }
  .gallery .gallery-view .gal-img .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 2.5vw;
  }
  .gallery .gallery-view .gal-img .fillet-box {
    width: 7.08vw;
    height: 3.54vw;
    z-index: 10;
    margin: auto;
    background-color: #fff;
    margin-top: -1.77vw;
    margin-left: 34.96vw;
    border-radius: 2.08vw;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    position: absolute;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  .gallery .gallery-view .gal-img .fillet-box .left-box {
    background: #000;
    height: 3.54vw;
    width: 0;
    border-radius: 2.08vw 0 0 2.08vw;
    -webkit-transition: width 700ms;
    transition: width 700ms;
  }
  .gallery .gallery-view .gal-img .fillet-box .left-box a {
    height: 3.54vw;
    width: 3.54vw;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    border-radius: 2.08vw 0 0 2.08vw;
  }
  .gallery .gallery-view .gal-img .fillet-box .left-box a .fa-angle-left {
    font-size: 2.4vw;
    border-radius: 2.08vw 0 0 2.08vw;
  }
  .gallery .gallery-view .gal-img .fillet-box .left-box:hover {
    height: 3.54vw;
    width: 3.54vw;
    border-radius: 2.08vw 0 0 2.08vw;
  }
  .gallery .gallery-view .gal-img .fillet-box .left-box:hover a {
    color: #fff;
    border-radius: 2.08vw 0 0 2.08vw;
  }
  .gallery .gallery-view .gal-img .fillet-box .right-box {
    margin-top: -3.54vw;
    margin-left: 3.54vw;
    background: #000;
    height: 3.54vw;
    width: 0;
    border-radius: 0 2.08vw 2.08vw 0;
    -webkit-transition: width 700ms;
    transition: width 700ms;
  }
  .gallery .gallery-view .gal-img .fillet-box .right-box a {
    height: 3.54vw;
    width: 3.54vw;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .gallery .gallery-view .gal-img .fillet-box .right-box a .fa-angle-right {
    font-size: 2.4vw;
  }
  .gallery .gallery-view .gal-img .fillet-box .right-box:hover {
    height: 3.54vw;
    width: 3.54vw;
  }
  .gallery .gallery-view .gal-img .fillet-box .right-box:hover a {
    color: #fff;
  }
}

.amenities {
  padding-bottom: 18vw;
  height: 55vw;
  font-family: Titillium Web, sans-serif;
}

.amenities .amenities-title {
  margin-top: 10vw;
  font-size: 3.125vw;
  font-weight: 600;
  margin-left: 14.9vw;
}

.amenities .carousel-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.amenities .carousel-3 .color-splash-1 {
  width: 45.26vw;
  height: 67.2vw;
  margin-top: -6.5vw;
}

.amenities .carousel-3 .color-splash-1 img {
  width: auto;
  height: 100%;
}

.amenities .carousel-3 .carousel-flex3 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6vw;
  margin-left: 26vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__list3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 15.625vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 15.625vw;
          perspective: 15.625vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 0px;
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3:nth-child(1) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3:nth-child(1) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3:nth-child(2) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3:nth-child(2) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3:nth-child(3) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3:nth-child(3) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3:nth-child(4) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3:nth-child(4) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3:nth-child(5) {
  width: 25.8vw;
  height: 33.8vw;
  border-radius: 1vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3:nth-child(5) img {
  width: 100%;
  height: auto;
  border-radius: 1vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3[data-pos="0"] {
  z-index: 5;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3[data-pos="-1"] {
  opacity: 0;
  -webkit-filter: blur(1px) grayscale(100%);
          filter: blur(1px) grayscale(100%);
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3[data-pos="1"] {
  opacity: 0.5;
  -webkit-filter: blur(1px) grayscale(10%);
          filter: blur(1px) grayscale(10%);
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3[data-pos="-1"] {
  -webkit-transform: translateX(-40%) scale(0.9);
          transform: translateX(-40%) scale(0.9);
  z-index: 4;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3[data-pos="1"] {
  -webkit-transform: translateX(40%) scale(0.9);
          transform: translateX(40%) scale(0.9);
  z-index: 4;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3[data-pos="-2"] {
  opacity: 0;
  -webkit-filter: blur(3px) grayscale(100%);
          filter: blur(3px) grayscale(100%);
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3[data-pos="2"] {
  opacity: 0.2;
  -webkit-filter: blur(3px) grayscale(20%);
          filter: blur(3px) grayscale(20%);
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3[data-pos="-2"] {
  -webkit-transform: translateX(-70%) scale(0.8);
          transform: translateX(-70%) scale(0.8);
  z-index: 3;
}

.amenities .carousel-3 .carousel-flex3 .carousel3__item3[data-pos="2"] {
  -webkit-transform: translateX(70%) scale(0.8);
          transform: translateX(70%) scale(0.8);
  z-index: 3;
}

.amenities .carousel-3 .carousel-flex3 .ellipse {
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  z-index: 10;
  margin-top: 17vw;
  margin-left: 26vw;
  color: #000000;
}

.amenities .carousel-3 .carousel-flex3 .ellipse i {
  margin-left: 2vw;
  margin-top: 1vw;
  font-size: 3vw;
  z-index: 50;
}

.amenities .carousel-3 .carousel-flex3 .carousel-descrip_ta {
  position: absolute;
  width: 27.24vw;
  margin-left: 34vw;
  margin-top: 18vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel-descrip_ta .carousel-title {
  font-size: 2.34vw;
  font-weight: 600;
  margin-bottom: 1.93vw;
}

.amenities .carousel-3 .carousel-flex3 .carousel-descrip_ta .carousel-details {
  font-size: 1.2vw;
  line-height: 1.43;
}

.specBrand {
  font-family: Titillium Web, sans-serif;
  width: 100vw;
  height: 17.66vw;
  background-color: #e8e3db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.specBrand p {
  width: 100%;
  margin-left: 21.77vw;
  font-size: 1.56vw;
  font-weight: 600;
  letter-spacing: 5.16px;
  color: #000000;
}

.specBrand .btnFlex {
  width: 100%;
}

.specBrand .btnFlex .buttn {
  height: 3.54vw;
  width: 12.4vw;
  background-color: #000000;
  border-radius: 0.26vw;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.specBrand .btnFlex .buttn .black-button {
  border: none;
  height: 3.54vw;
  width: 12.4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9vw;
  letter-spacing: 3.44px;
  border-radius: 0.26vw;
  font-weight: 600;
  color: #e8e3db;
}

.specBrand .btnFlex .buttn:hover {
  height: 3.54vw;
  width: 0;
}

.specBrand .btnFlex .buttn:hover .black-button {
  color: #000000;
}

.specBrand .btnFlex .buttn:hover .black-button::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: .9vw;
  font-weight: 300;
  padding-left: .6vw;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .specBrand {
    font-family: Titillium Web, sans-serif;
    height: 102vw;
    background-color: #e8e3db;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .specBrand p {
    margin-left: 0;
    text-align: center;
    width: 86vw;
    margin: auto;
    font-size: 3.38vw;
    font-weight: 600;
    letter-spacing: 2.41px;
    color: #000000;
    padding-top: 37.9vw;
    padding-bottom: 13.04vw;
  }
  .specBrand .buttn {
    height: 13.77vw;
    width: 45vw;
    background-color: #000000;
    border-radius: 1vw;
    -webkit-transition: none;
    transition: none;
    margin: auto;
  }
  .specBrand .buttn .black-button {
    border: none;
    height: 13.77vw;
    width: 45vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.38vw;
    letter-spacing: 3.44px;
    border-radius: 0.26vw;
    font-weight: 600;
    color: #e8e3db;
  }
}

.location-section {
  font-family: Titillium Web, sans-serif;
  background-color: #f8f8f8;
  padding-top: 9.36vw;
  width: 100vw;
  padding-left: 14.9vw;
  padding-bottom: 2vw;
}

.location-section .location-title {
  font-size: 3.125vw;
  font-weight: 600;
  margin-bottom: 2.19vw;
  color: #000000;
}

.location-section .location-subtitle {
  font-size: 1.2vw;
  line-height: 1.43;
  width: 75vw;
  color: #000000;
}

.location-section .location-descrip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3vw;
}

.location-section .location-descrip .location-img {
  width: 40%;
  border-radius: 1vw;
}

.location-section .location-descrip .location-img img {
  width: 100%;
  height: auto;
}

.location-section .location-descrip .location-img p {
  text-align: center;
  font-size: 1.56vw;
  font-weight: 600;
  margin-top: -7vw;
  cursor: pointer;
}

.location-section .location-descrip .location-distance {
  width: 45%;
  padding-left: 5vw;
}

.location-section .location-descrip .location-distance ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.location-section .location-descrip .location-distance ul li {
  width: 45%;
  margin-bottom: 3.39vw;
}

.location-section .location-descrip .location-distance ul li .place {
  font-size: 1.2vw;
  color: #000000;
}

.location-section .location-descrip .location-distance ul li .kms {
  font-size: 1.56vw;
  font-weight: 600;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .location-section {
    font-family: Titillium Web, sans-serif;
    background-color: #f8f8f8;
    padding-top: 20.53vw;
    width: 100vw;
    padding-left: 0;
    padding-bottom: 5vw;
  }
  .location-section .location-title {
    width: 86vw;
    margin: auto;
    font-size: 6.76vw;
    font-weight: 600;
    margin-bottom: 6.28vw;
    color: #000000;
  }
  .location-section .location-subtitle {
    font-size: 3.38vw;
    line-height: 1.5;
    width: 86vw;
    margin: auto;
    color: #000000;
  }
  .location-section .location-descrip {
    display: block;
    margin-top: 3vw;
    width: 86vw;
    margin: auto;
  }
  .location-section .location-descrip .location-img {
    width: 100%;
    border-radius: 1vw;
  }
  .location-section .location-descrip .location-img img {
    width: 100%;
    height: auto;
  }
  .location-section .location-descrip .location-img p {
    text-align: center;
    font-size: 3.38vw;
    font-weight: 600;
    margin-top: -17vw;
    cursor: pointer;
  }
  .location-section .location-descrip .location-distance {
    width: 80%;
    margin: auto;
    padding-left: 0;
    padding-top: 8vw;
  }
  .location-section .location-descrip .location-distance ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .location-section .location-descrip .location-distance ul li {
    width: 44%;
    margin-bottom: 3.39vw;
  }
  .location-section .location-descrip .location-distance ul li .place {
    font-size: 3.38vw;
    color: #000000;
  }
  .location-section .location-descrip .location-distance ul li .kms {
    font-size: 4.83vw;
    font-weight: 600;
    color: #000000;
  }
}

.otherProjects {
  height: 40.17vw;
  width: 100vw;
  padding-top: 6vw;
  font-family: Titillium Web, sans-serif;
}

.otherProjects .otherProjects-title {
  font-size: 3.125vw;
  font-weight: 600;
  margin-left: 14.9vw;
  color: #000000;
}

.otherProjects .otherProjects-Content {
  width: 40%;
  margin: auto;
  grid-column-gap: 2.03vw;
  padding-top: 6.09vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.otherProjects .otherProjects-Content .proj-img {
  width: 28.18vw;
  height: 17.3vw;
  border-radius: 1.5vw;
}

.otherProjects .otherProjects-Content .proj-img img {
  width: auto;
  height: 100%;
  border-radius: 1.5vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.otherProjects .otherProjects-Content .baseline-bttn {
  width: 14vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1vw;
}

.otherProjects .otherProjects-Content .baseline-bttn .buttn {
  height: 3.54vw;
  width: 12.4vw;
  background-color: #000000;
  border-radius: 0.26vw;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.otherProjects .otherProjects-Content .baseline-bttn .buttn .black-button {
  border: none;
  height: 3.54vw;
  width: 12.4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9vw;
  letter-spacing: 3.44px;
  border-radius: 0.26vw;
  font-weight: 600;
  color: #ffffff;
}

.otherProjects .otherProjects-Content .baseline-bttn .buttn:hover {
  height: 3.54vw;
  width: 0;
}

.otherProjects .otherProjects-Content .baseline-bttn .buttn:hover .black-button {
  color: #000000;
}

.otherProjects .otherProjects-Content .baseline-bttn .buttn:hover .black-button::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: .9vw;
  font-weight: 300;
  padding-left: .6vw;
  color: #000000;
}

.contact {
  padding-top: 11.25vw;
  width: 70vw;
  height: 55vw;
  margin: auto;
  background-color: #ffffff;
  color: #000000;
  font-family: Titillium Web, sans-serif;
}

.contact .contact-title {
  font-size: 3.125vw;
  font-weight: 600;
  line-height: 0.83;
  margin-bottom: 1.5vw;
}

.contact .contact-subtitle {
  font-size: 1.2vw;
  font-weight: 300;
  margin-bottom: 7.5vw;
}

.contact .inputA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .inputA .flex-input {
  width: 31.67vw;
}

.contact input {
  border: none;
  padding-bottom: .5vw;
  width: 100%;
  -webkit-border-bottom: 1px solid #000000;
  border-bottom: 1px solid #000000;
  font-size: 1.04vw;
  font-weight: 300;
  margin-bottom: 3.57vw;
}

.contact .buttn {
  height: 3.54vw;
  width: 12.4vw;
  background-color: #000000;
  border-radius: 0.26vw;
  -webkit-transition: width 500ms;
  transition: width 500ms;
  margin-left: 57.6vw;
}

.contact .buttn .black-button {
  border: none;
  height: 3.54vw;
  width: 12.4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9vw;
  letter-spacing: 3.44px;
  border-radius: 0.26vw;
  font-weight: 600;
  color: #ffffff;
}

.contact .buttn:hover {
  height: 3.54vw;
  width: 0;
}

.contact .buttn:hover .black-button {
  color: #000000;
}

.contact .buttn:hover .black-button::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: .9vw;
  font-weight: 300;
  padding-left: .6vw;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .contact {
    padding-top: 20vw;
    padding-bottom: 5vw;
    width: 86vw;
    height: auto;
    margin: auto;
    background-color: #ffffff;
    color: #000000;
    font-family: Titillium Web, sans-serif;
  }
  .contact .contact-title {
    font-size: 6.76vw;
    font-weight: 600;
    line-height: 0.83;
    margin-bottom: 3vw;
  }
  .contact .contact-subtitle {
    font-size: 3.38vw;
    font-weight: 300;
    margin-bottom: 12vw;
  }
  .contact .inputA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contact .inputA .flex-input {
    width: 100%;
  }
  .contact input {
    border: none;
    padding-bottom: 1vw;
    width: 100%;
    -webkit-border-bottom: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-size: 3.38vw;
    font-weight: 300;
    margin-bottom: 6vw;
  }
  .contact .buttn {
    height: 13.77vw;
    width: 45vw;
    background-color: #000000;
    border-radius: 1vw;
    -webkit-transition: none;
    transition: none;
    margin-left: 40vw;
    margin-top: 5vw;
  }
  .contact .buttn .black-button {
    border: none;
    height: 13.77vw;
    width: 45vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3.38vw;
    letter-spacing: 3.44px;
    border-radius: 0.26vw;
    font-weight: 600;
    color: #ffffff;
  }
  .contact .buttn:hover {
    height: 13.77vw;
    width: 0;
  }
  .contact .buttn:hover .black-button {
    color: #000000;
  }
  .contact .buttn:hover .black-button::after {
    content: '\f105';
    font-family: fontAwesome;
    font-size: 4vw;
    font-weight: 300;
    padding-left: 2vw;
    color: #000000;
  }
}

.schedule {
  height: 19.64vw;
  background-color: #e8e3db;
  font-family: Titillium Web, sans-serif;
}

.schedule-visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 60%;
  margin: auto;
}

.schedule p {
  font-size: 1.04vw;
  line-height: 1.4;
  font-weight: 600;
  width: 75%;
  padding-right: 8vw;
  color: #000000;
}

.bttn {
  background: #000000;
  height: 3.54vw;
  width: 14.9vw;
  border-radius: .2vw;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.bttn button {
  height: 3.54vw;
  width: 14.9vw;
  color: #e8e3db;
  font-size: .9vw;
  letter-spacing: 2.5px;
  font-weight: 600;
  border-radius: .2vw;
  border: none;
}

.bttn:hover {
  height: 3.54vw;
  width: 0;
}

.bttn:hover button {
  color: #000000;
}

.bttn:hover button::after {
  content: '\f105';
  font-family: fontAwesome;
  font-size: .9vw;
  font-weight: 300;
  padding-left: .6vw;
  color: #000000;
}

@media only screen and (max-width: 768px) {
  .schedule {
    height: 19.64vw;
    background-color: #e8e3db;
    font-family: Titillium Web, sans-serif;
  }
  .schedule-visit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 60%;
    margin: auto;
  }
  .schedule p {
    font-size: 1.04vw;
    line-height: 1.4;
    font-weight: 600;
    width: 75%;
    padding-right: 8vw;
    color: #000000;
  }
  .bttn {
    background: #000000;
    height: 3.54vw;
    width: 14.9vw;
    border-radius: .2vw;
    -webkit-transition: width 500ms;
    transition: width 500ms;
  }
  .bttn button {
    height: 3.54vw;
    width: 14.9vw;
    color: #e8e3db;
    font-size: .9vw;
    letter-spacing: 2.5px;
    font-weight: 600;
    border-radius: .2vw;
    border: none;
  }
  .bttn:hover {
    height: 3.54vw;
    width: 0;
  }
  .bttn:hover button {
    color: #000000;
  }
  .bttn:hover button::after {
    content: '\f105';
    font-family: fontAwesome;
    font-size: .9vw;
    font-weight: 300;
    padding-left: .6vw;
    color: #000000;
  }
}

.footer {
  height: 100vh;
  background-color: #000000;
  font-family: Titillium Web, sans-serif;
}

.footer-main {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85vh;
}

.footer-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15vw;
  font-weight: 300;
  margin-top: 14vw;
  font-size: 3.75vw;
  line-height: 1.11;
}

.footer-nav-items {
  margin-top: 14vw;
  margin-left: 10vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.04vw;
  line-height: 2;
}

.footer-nav-items a {
  color: #ffffff;
}

.footer-nav-items a:hover {
  text-decoration: none;
  color: #d49e1f;
}

.vertical-line {
  margin-top: .7vw;
  border-left: 0.1px solid #ffffff;
  border-radius: 1px;
  height: 8vw;
}

.copyright {
  color: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  font-size: 1.04vw;
  line-height: 1.8;
}

.copyright-2019 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.policy {
  -webkit-box-flex: .4;
      -ms-flex: .4;
          flex: .4;
  text-align: right;
}

.disclaimer {
  -webkit-box-flex: .4;
      -ms-flex: .4;
          flex: .4;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .footer {
    height: 217.6vw;
    background-color: #000000;
    font-family: Titillium Web, sans-serif;
    font-weight: 300;
  }
  .footer-main {
    color: #ffffff;
    display: block;
    height: 176vw;
  }
  .footer-title {
    margin-left: 11.47vw;
    padding-top: 22.93vw;
    font-size: 11.2vw;
    line-height: 1.31;
  }
  .footer-nav-items {
    margin-left: 11.47vw;
    margin-top: 22.93vw;
    font-size: 3.73vw;
    line-height: 2.14;
  }
  .footer-nav-items a {
    color: #ffffff;
  }
  .vertical-line {
    margin-top: 2vw;
    border-left: 0.1px solid #ffffff;
    border-radius: 1px;
    height: 30vw;
  }
  .copyright {
    color: #dbdbdb;
    display: block;
    font-size: 1.04vw;
    margin: 0;
  }
  .copyright .tAndC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3.2vw;
    line-height: 2.4;
    margin-left: -5vw;
  }
  .copyright .copyright-2019 {
    margin-left: 11.47vw;
    font-size: 2.67vw;
    line-height: 2.88;
  }
}

.project-form-popup {
  -webkit-box-shadow: 10px 14px 120px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 120px -2px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 768px) {
  .content-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .content-desktop {
    display: none;
  }
  .content-mobile {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */